fastapi==0.110.0
uvicorn==0.29.0
streamlit==1.32.2
langchain==0.1.13
langgraph==0.0.30
langchain-openai==0.1.1
duckdb==0.10.1
pandas==2.2.1
sqlalchemy==2.0.29
pydantic>=2.6.4
pydantic-settings>=2.2.1
python-dotenv==1.0.1
matplotlib==3.8.3
seaborn==0.13.2
requests==2.31.0
python-multipart==0.0.9
openpyxl==3.1.5
